/GyroMocapUE4/Saved/
/GyroMocapUE4/Intermediate/
/GyroMocapUE4/Content/Collections/
/GyroMocapUE4/Content/Developers/
/SensorTuner/.vs/
/SensorTuner/bin/
/SensorTuner/obj/
/GyroSensorViewerUE4/Saved/
/GyroSensorViewerUE4/Intermediate/
/GyroSensorViewerUE4/Content/Collections/
/GyroSensorViewerUE4/Content/Developers/
/GyroSensorReceiver/GyroSensorReceiver/.vs/
/GyroSensorReceiver/GyroSensorReceiver/bin/
/GyroSensorReceiver/GyroSensorReceiver/obj/
